In [15]:
import sqlite3
from pathlib import Path

In [ ]:
DB_PATH_FINANCIAL = Path("../fakeDB/financial.db")
conn = sqlite3.connect(DB_PATH_FINANCIAL)
cursor = conn.cursor()

cursor.execute("PRAGMA table_info(financial);")
columns = cursor.fetchall()
for col in columns:
    print(col)
conn.close()

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'record_date', 'DATE', 1, None, 0)
(2, 'gross', 'REAL', 1, None, 0)
(3, 'costs', 'REAL', 1, None, 0)
(4, 'notes', 'TEXT', 0, None, 0)

In [17]:
conn = sqlite3.connect(DB_PATH_FINANCIAL)
cursor = conn.cursor()

# Example 1: Get all records
cursor.execute("SELECT * FROM financial;")
rows = cursor.fetchall()
for row in rows[:5]:  # just print first 5 rows
    print(row)

# Example 2: Filter by date
cursor.execute("SELECT * FROM financial WHERE record_date >= ? AND record_date <= ?;",
               ("2025-01-01", "2025-01-31"))
january_rows = cursor.fetchall()
print("January records:", len(january_rows))

# Example 3: Aggregate analytics (e.g., total revenue)
cursor.execute("SELECT SUM(revenue) FROM financial;")
total_revenue = cursor.fetchone()[0]
print("Total revenue:", total_revenue)

# Close connection
conn.close()

(1, '2025-01-01', 4541.86, 1164.94, 3376.9199999999996, 'Test data for 2025-01-01')
(2, '2025-01-02', 4835.88, 708.55, 4127.33, 'Test data for 2025-01-02')
(3, '2025-01-03', 3204.86, 1738.75, 1466.1100000000001, 'Test data for 2025-01-03')
(4, '2025-01-04', 2511.58, 2039.73, 471.8499999999999, 'Test data for 2025-01-04')
(5, '2025-01-05', 4898.11, 2047.62, 2850.49, 'Test data for 2025-01-05')
January records: 31
Total revenue: 488471.7300000006